@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes growAndShrink {
  0% {
    transform: scale(0.95);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.perfect {
  background: linear-gradient(
    90deg,
    violet,
    skyblue,
    yellowgreen,
    yellow,
    orange
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 5px white;
}

.bad,
.fast,
.slow {
  background: linear-gradient(
    90deg,
    rgb(102, 226, 102),
    yellowgreen,
    yellow,
    rgb(255, 239, 58),
    orange
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 5px yellow;
}

/*.bad {
  background: linear-gradient(
    90deg,
    purple,
    violet,
    rgb(208, 0, 255),
    rgb(255, 89, 0),
    rgb(255, 128, 0)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 5px rgb(240, 101, 136);
}*/

.miss {
  background: linear-gradient(90deg, lightgrey, darkgrey, darkgrey, lightgrey);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 5px white;
}

.scoreAnimation {
  animation: growAndShrink 0.3s ease-in-out;
}

@media screen and (min-width: 1790px) and (min-height: 900px) {
  .full-screen-mb {
    margin-top: -5%;
  }
}
