@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./baggage.css";
@import "./rotateCarrier.css";
@import "./error.css";

:root {
  --background-rgb: 243, 244, 246;
}

body {
  background: rgb(var(--background-rgb));
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.custom-cursor {
  cursor: url("/assets/whackAmole/hammer.png"), auto;
}

.outline-title {
  font-family: sans-serif;
  color: #f7cc80;
  text-shadow: 1px 1px 0 #eda11e, -1px -1px 0 #eda11e, 1px -1px 0 #eda11e,
    -1px 1px 0 #eda11e, 1px 1px 0 #eda11e;
  /*font-size: 50px;*/
}
