@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./baggage.css";
@import "./error.css";

:root {
  --background-rgb: 243, 244, 246;
}

body {
  background: rgb(var(--background-rgb));
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.custom-cursor {
  cursor: url("/assets/whackAmole/hammer.png"), auto;
}
