@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./baggage.css";
@import "./rotateCarrier.css";
@import "./souvenir.css";
@import "./error.css";

:root {
  --background-rgb: 243, 244, 246;
}

body {
  background: rgb(var(--background-rgb));
}

#__next {
  height: 100%;
  width: 100%;
}

.custom-cursor {
  cursor: url("/assets/whackAmole/hammer.png"), auto;
}
